version: "2.3"

services:
  yolo-trt:
    build: ./yolo_service
    network_mode: host
    volumes:
      - ../models:/models:ro
    environment:
      - ONNX_PATH=/models/yolov8n.onnx

  mediapipe-app:
    image: ghcr.io/lanzani/mediapipe:l4t32.7.1-py3.6.9-ocv4.8.0-mp0.8.5
    network_mode: host
    devices:
      - /dev/video0:/dev/video0
    volumes:
      - ..:/workspace
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /usr/local/cuda:/usr/local/cuda:ro
    working_dir: /workspace
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - MEDIAPIPE_DISABLE_GPU=1
      - TFLITE_ENABLE_GPU=0
      - CUDA_VISIBLE_DEVICES=
      - NVIDIA_DRIVER_CAPABILITIES=all
      - YOLO_URL=http://127.0.0.1:8000/detect
      - LD_LIBRARY_PATH=/usr/local/cuda/lib64:/usr/local/cuda/targets/aarch64-linux/lib
    command: bash -lc "apt-get update && apt-get install -y espeak && python3 -m pip install -U pip && python3 -m pip install requests python-dotenv pyttsx3 && python3 main.py"
